name: Deploy Frontend to EC2 via ECR

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Configure AWS credentials for GitHub Actions
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # 3️⃣ Login to Amazon ECR
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin 203783636897.dkr.ecr.us-east-1.amazonaws.com

      # 4️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t frontend-app .

      # 5️⃣ Tag Docker image for ECR
      - name: Tag Docker image
        run: |
          docker tag frontend-app:latest 203783636897.dkr.ecr.us-east-1.amaz
