name: Deploy Frontend to EC2 via ECR

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin 203783636897.dkr.ecr.us-east-1.amazonaws.com

      - name: Build Docker image
        run: |
          docker build -t frontend-app .

      - name: Tag Docker image
        run: |
          docker tag frontend-app:latest 203783636897.dkr.ecr.us-east-1.amazonaws.com/frontend-app:latest

      - name: Push image to ECR
        run: |
          docker push 203783636897.dkr.ecr.us-east-1.amazonaws.com/frontend-app:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            aws ecr get-login-password --region us-east-1 \
            | docker login --username AWS --password-stdin 203783636897.dkr.ecr.us-east-1.amazonaws.com

            docker stop frontend || true
            docker rm frontend || true
            docker pull 203783636897.dkr.ecr.us-east-1.amazonaws.com/frontend-app:latest
            docker run -d --name frontend -p 80:80 203783636897.dkr.ecr.us-east-1.amazonaws.com/frontend-app:latest
