name: Frontend Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ap-south-1         | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

    - name: Build Docker Image
      run: docker build -t frontend-app .

    - name: Tag Image
      run: docker tag frontend-app:latest ${{ secrets.ECR_URI }}:latest

    - name: Push Image
      run: docker push ${{ secrets.ECR_URI }}:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker stop frontend || true
          docker rm frontend || true
          docker pull ${{ secrets.ECR_URI }}:latest
          docker run -d --name frontend -p 80:80 ${{ secrets.ECR_URI }}:latest